/*  your css code here. If applicable */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	background-color: rgb(211,211,211);
	padding: 10px;
}
nav.nav-bar{
	background-color: #D3D3D3;
	padding: 10px;
}
ul{
	display: flex;
}
nav ul li{
	list-style: none;
	display: inline;
	margin-right: 1rem;
}
nav ul li a{
	text-decoration: none;
}